*.docx merge=suture
*.docm merge=suture
*.xlsx merge=suture
*.xlsm merge=suture
*.pptx merge=suture
*.pptm merge=suture
*.json merge=suture
*.jsonl merge=suture
*.yaml merge=suture
*.yml merge=suture
*.toml merge=suture
*.csv merge=suture
*.tsv merge=suture
*.xml merge=suture
*.xsl merge=suture
*.svg merge=suture
*.md merge=suture
*.markdown merge=suture
*.otio merge=suture
*.sql merge=suture